<app-navbar></app-navbar>

<div class="card">
    <div class="text-2xl font-semibold m-5 flex">
        Orders
    </div>
    <div class="grid flex w-screen  m-2">
        <div class="col-12 flex justify-content-center min-w-screen" *ngFor="let cart of orderDetails">
            <div class="grid card border-solid border-200">
                <div class="col-8 grid">
                    <div class="col-12">
                        {{ cart.createdAt | date: 'd MMM YYYY'}}
                    </div>
                    <div *ngFor="let prod of cart.data" class="col-12 grid py-0">
                        <div class="col-2">
                            {{ prod.amount }}x
                        </div>
                        <div class="col-10">
                            {{ prod.info.name }}
                        </div>
                    </div>
                </div>
                
                <div class="col-4 text-right">
                    {{ cart.total | currency: 'IDR' }}
                </div>
                <div class="col-12">
                    {{ cart.status }}
                </div>
            </div>
        </div>
        
    </div>
</div>